################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Usertask/Usertask/bin/Debug/net6.0/appsettings.json
